
.navbar{
    background-color:transparent;
}

#sec-1 .container{
    display: flex;
}

.nav-item{
    padding: 15px;
    color: white;
}
.nav-item a{
    color: white;
    font-weight: bold;
}
#sec-1 img{
    -webkit-filter: invert(100%);
}
#sec-2{
    
    background-image: url('burger.jpg');
    background-position: center;
    background-size: cover;
}
#sec-2 button{
    padding: 0px 40px 0px 40px;
    border-radius: 25px;
    font-size: 20px;
}
.text-box{
    padding-top: 200px;
    padding-bottom:20px ;
   
}
.text-box h1{
    font-size: 60px;
}
.text-box h4{
    padding-top: 20px;
    padding-bottom: 40px;
}
#sec-3{
    background-color:rgba(246,238,223,255);
   
}
#sec-3 img{
    border-radius: 100%;
}
#sec-4{

    background-color:rgba(246,75,60,255);


}
.text-box-2{
    padding-top: 80px;
}
.text-box-2 h1{
    font-size: 60px;
    font-weight: bold;
    color: white;
    
}
.text-box-2 h4{
    padding: 20px 0px 30px 0px;
    color: white;
}
.text-box-2 button{
background-color: white;
color: black;
padding: 5px 20px 5px 20px;
border-radius: 20px;

}

#sec-5{

background-color:rgba(246,238,223,255);


}
#sec-5 .photo img{
    border-radius: 50%;
}
#sec-5 .text-box-2 button{
background-color: red;
color: white;
padding: 5px 20px 5px 20px;
border-radius: 20px;
}

#sec-5 .text-box-2 h1{
    font-size: 60px;
    font-weight: bold;
    color: red;
    
}
#sec-5 .text-box-2 h4{
    padding: 20px 0px 30px 0px;
    color: red;
}
#sec-5 .text-box-2{
    padding-left: 0px;
}
#sec-6{
    background-color:rgba(246,75,60,255);
    
}

#sec-6 .card{
    border-radius: 50%;
    border: 5px solid white;
    background-color: rgba(246,75,60,255);
    
}
#sec-6 .card h1{
    font-size: 80px;
    padding-top: 20px;
    color: white;
}
#sec-6 .card h2{
    font-size: 40px;
    padding-bottom: 20px;
    color: white;
}
#sec-6 .col-12{
    padding: 30px;
   
}
#sec-7{
    background-color: rgba(246,238,223,255);
}
#sec-7 h1{
     font-size: 100px;
}
#sec-7 button{
    background-color: red;
    border-radius: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    
}
#sec-7 .col-12{
    padding: 40px;
    
}
#sec-7 .card{
    border: none;
    border-radius: 10px;
}
.pop h3{
font-size: 70px;
font-weight: bold;
color: red;
}
#sec-8{
    background-color: rgb(216, 130, 130);
    color: white;
}
#sec-8 h4{
padding: 100px 150px 50px 150px;
}
#sec-8 h3{
padding-bottom: 150px;
}
#sec-9{
    background-color: rgba(246,238,223,255);
    color: red;
}
#sec-9 h4{
padding: 100px 150px 0px 150px;
font-size: 60px;
font-weight: bold;
}


#sec-9 h3{
    padding: 50px 150px 50px 150px;
    }

#sec-9 .input-group{
 /* padding-left: 250px;
 padding-right: 250px; */
 padding-bottom: 200px;
}

.list-unstyled a{
  font-size: 20px;
  text-decoration: none;
}
#footer .col-lg-2{
    padding-top: 100px;
    padding-bottom: 100px;
}
#footer .col-lg-6{
    padding-top: 100px;
    padding-bottom: 100px;
}
#footer .mb-4{
    text-align: start;
}

@media screen and (max-width:991px) {
    .text-box{
        padding-top: 100px;
       
    }
    #sec-1 .container{
        display:inline-block;
    }
    .text-box-2{
        padding-top: 20px;
    }
    .text-box-2 h1{
        font-size: 50px;
        font-weight: bold;
        color: white;
        
    }
    .text-box-2 h4{
        padding: 10px 0px 20px 0px;
        color: white;
    }
    #sec-5 .text-box-2 h1{
        font-size: 50px;
        font-weight: bold;
        color: red;
        
    }
    #sec-7 .col-12{
        padding: 10px;
        
    }
    #sec-8 h4{
        padding: 50px 50px 50px 50px;
        }
    #sec-8 h3{
        padding-bottom: 50px;
        }
    #sec-9 h4{
            padding: 50px 50px 0px 50px;
            font-size: 50px;
            font-weight: bold;
            }
  #sec-9 h3{
                padding: 50px 50px 20px 50px;
                }
 #sec-9 .input-group{
                    /* padding-left: 250px;
                    padding-right: 250px; */
                    padding-bottom: 50px;
                   }
         .pop h3{
                    font-size: 50px;
                    font-weight: bold;
                    color: red;
                    }
     #sec-6 .card h1{
                        font-size: 50px;
                        padding-top: 10px;
                        color: white;
                    }
   #sec-6 .card h2{
                        font-size: 30px;
                        padding-bottom: 10px;
                        color: white;
                    }  
     #sec-6 .col-12{
                        padding: 10px;
                       
                    }    
    #footer .col-lg-2{
                        padding-top: 20px;
                        padding-bottom: 20px;
                    }
  #footer .col-lg-6{
                        padding-top: 20px;
                        padding-bottom: 20px;
                    }      
    #footer .mb-4{
                        text-align: center;
                    } 
}

@media screen and (max-width:767px) {
    .text-box-2 h1{
        font-size: 50px;
        font-weight: bold;
        color: white;
        
    }
    .text-box-2{
        padding-top: 0px;
    }
    #sec-7 .col-12{
        padding: 5px;
        
    }
    #sec-8 h4{
        padding: 20px 20px 20px 20px;
        }
    #sec-9 h4{
        padding: 20px 20px 0px 20px;
        font-size: 40px;
        font-weight: bold;
        }
    #sec-9 h3{
            padding: 20px 20px 20px 20px;
            }
        #sec-7 h1{
                font-size: 40px;
           }
           .pop h3{
            font-size: 30px;
            font-weight: bold;
            color: red;
            }
            #sec-6 .card h1{
                font-size: 50px;
                padding-top: 10px;
                color: white;
            }
            #sec-6 .card h2{
                font-size: 30px;
                padding-bottom: 10px;
                color: white;
            }
            #sec-6 .col-12{
                padding: 30px;
               
            }    
            .text-box h1{
                font-size: 40px;
            }
            #footer .mb-4{
                text-align: center;
            }
            
}
#sec-1 a:hover{
    color: red;
}